body {
  margin: 0;
  padding: 0;

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgb(35, 35, 37);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 600px;
  min-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

form > * {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 30px;
  background-color: rgb(23, 23, 23);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

form > *:focus {
  outline: none;
  background-color: rgb(23, 23, 23);
}
